
<!-- Include header-->
<%- include('include/_header') %>
<!-- Include header-->

<div class="container">
   <h5>Show</h5>
   <select id="itemperpage">
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="08">8</option>
      <option value="10">10</option>
      <option value="15">15</option>
   </select>
   <h5>per page</h5>
</div>


<form action="/" method="post">
   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th>ID</th>
            <th>PHOTO</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>COURSE</th>
            <th>PRICE</th>
            <th>UPDATE</th>
            <th>DELETE</th>
            <th>MORE INFO.</th>
         </tr>
      </thead>
      <tbody id="tbody">
         <%- include('include/_show') %>
      </tbody>
   </table>
   <div class="bottom-field">
      <ul class="pagination">
         <li class="prev"><a href="#" id="prev">&#139;</a></li>
         <!-- <li class="list"><a href="#">01</a></li>
         <li class="list"><a href="#">02</a></li>
         <li class="list"><a href="#">03</a></li> -->
         <li class="next"><a href="#" id="next">&#155;</a></li>
      </ul>
   </div>
</form>
<!-- Include footer-->
<%- include('include/_footer') %>
<!-- Include footer-->