<footer>
   <div class="row">
      <div class="col-1">
         <h3>Crud Management System</h3>
         <p>This System by using:</p>
         <p>HTML,Css,Javascript,nodejs,ejs and mongodb.</p>
         <p>Create,Read,Update,Delete</p>
      </div>
      <div class="col-2">
         <div class="anger"><a href="#"><i class="uil uil-angle-double-right" style="color: blue; font-size: 36px; position: relative; top: 8px;"></i> Linkedin Account</a> <div class="line"></div></div>
         <div class="anger"> <a href="#"><i class="uil uil-angle-double-right" style="color: blue; font-size: 36px; position: relative; top: 8px;"></i> Github Account</a> <div class="line"></div></div>
         <div class="anger"> <a href="#"><i class="uil uil-angle-double-right" style="color: blue; font-size: 36px; position: relative; top: 8px;"></i> Behance Account</a></div>
      </div>
   </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>
</body>
</html>
