<form action="/api/users" method="post" id="adduser" enctype="multipart/form-data">
   <div class="crud-box">
      <div class="container">
         <div class="col-1">
            <div class="field"><input type="text" class="name" name="name" id="name" placeholder="name"></div>
            <div class="field"><input type="file" id="upload"  name="image"></div>
            <div class="field"><input type="tel" class="phone" name="phone" id="phone" placeholder="Phone"></div>
            <div class="field"><input type="email" class="email" name="email" id="email" placeholder="Email"></div>
            <div class="field"><input type="text" class="course" name="course" id="course" placeholder="Course"></div>
         </div>
         <div class="col-2">
            <div class="field"><input type="number" class="price" id="price" placeholder="Price" name="price"></div>   
            <div class="field"><input type="text" class="date" id="date" placeholder="Date" name="date"></div>
            <div class="field"><input type="text" class="link-1" id="link-1" name="link1" placeholder="Linkedin Account"></div>
            <div class="field"><input type="text" class="link-2" id="link-2" name="link2" placeholder="Github Account"></div>
            <div class="field"><input type="text" class="link-3" id="link-3" name="link3" placeholder="Behance Account"></div>
         </div>
         
         <div class="submit-btn"><button type="submit">Create</button></div>
      </div>
   </div>
</form>